.header__search {
    display: none;
    position: absolute;
    top: 13%;
    right: 22%;
}

.header__searchInput:focus {
    border-color: rgb(204, 198, 198);
    outline: 0;
    width: 200px;
    transition: width 0.2s ease-in 0.2s;
}

.header__searchInput {
    width: 60px;
    height: 30px;
    padding: 0 35px 0 20px;
    border-radius: 20px;
    border: 1px solid rgb(204, 198, 198);
    background-color: #F1EAE4;
    color: #1D1B19;
}

.header__searchBtnWrap {
    position: absolute;
    right: 0;
}

.header__searchBtn {
    cursor: pointer;
    margin-top: 4px;
    margin-right: 2px;
    z-index: 3;
    height: 26px;
    width: 30px;
    border: 0;
    margin-bottom: 0;
    color: #CCC;
    background: transparent;
}

.header__searchBtn .bx {
    font-size: 16px;
}

.show {
    display: block;
}

.pageContent__search {
    width: 100%;
    margin-top: 48px;
    margin-bottom: 0px;
}

#searchContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#searchContainer .catalog__item {
    width: 45%;
    padding: 20px;
}

#SearchOnRequest {
    margin-left: 10px;
}

.catalog__hide {
    display: none;
}

@media screen and (min-width:960px) and (max-width:1026px) {
    .header__search {
        display: none;
        position: absolute;
        top: 15.5%;
        right: 22%;
    }

    .show {
        display: block;
    }
}

@media screen and (max-width:$tablet) {
    .header__search {
        display: none;
        position: absolute;
        top: 10%;
        right: 7.5%;
    }

    .show {
        display: block;
    }
}

@media screen and (max-width:564px) {
    .header__searchInput:focus {
        width: 80px;
    }
}