.hidden {
    display: none !important;
}

.catalog {
    margin-bottom: 70px;
}

.catalog__inner {
    padding: 15px;
}

.catalogHeader {
    margin-bottom: 40px;
}

.catalogHeader__title {
    margin-bottom: 30px;
}

.catalogHeader__nav {
    padding-bottom: 40px;
    border-bottom: 1px solid grey;
}

.catalogHeader__link {
    padding: 3px;
    margin-right: 15px;
    font-size: 20px;
    color: grey;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        color: $textColor;
    }
}

.catalogHeader__link_active {
    // для js
    color: $textColor;
}

.catalog__item:hover .catalog__basketWrapper {
    display: block;
}

.catalog__item:hover .catalog__description {
    margin-bottom: 0;
}

.catalog__items {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-row-gap: 2.5rem;
    column-gap: 1rem;
}

.catalog__imgLink .catalog__imgWrapper {
    background: $textColor;
    overflow: hidden;
}

.catalog__imgLink .catalog__imgWrapper img {
    opacity: 1;
    transition: opacity 124ms linear, transform 124ms linear;
    width: 100%;
    display: block;
}

.catalog__imgLink:hover .catalog__imgWrapper img {
    opacity: 0.5;
    transform: scale(1.05);
}

.catalog__imgWrapper:hover::after {
    position: absolute;
    content: 'See more';
    color: $bgColor;
    top: 50%;
    left: 50%;
    border: 1px solid $bgColor;
    transform: translate(-50%, -50%);
    padding: 20px 30px 20px 30px;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 0.4s ease;
}

.catalog__imgWrapper {
    position: relative;
    height: 0;
    padding-bottom: 100%;
}

.catalog__img {
    position: absolute;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.catalog__footer {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 0 10px;
    gap: 14px;
}

.catalog__link {
    color: $textColor;
    text-decoration: none;

    :hover {
        text-decoration: underline;
    }
}

.catalog__description {
    margin-bottom: 35px;
}

.catalog__name {
    font-size: 20px;
}

.catalog__price {
    font-size: 18px;
    color: #555555;
    margin-top: 5px;
}


.catalog__basket {
    display: flex;
    align-items: center;
    gap: 7px;
}

.catalog__icon {
    width: 19px;
}

.catalog__basket:hover {
    cursor: pointer;
}

.catalog__basketLink {
    font-size: 16px;
    color: $textColor;
    text-decoration: none;
}

.pagination__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
    gap: 10px;
    list-style: none;
    margin-right: 40px;
}

.pagination__linkWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #cacaca;

    &:hover {
        transition: background-color 0.3s ease;
        background-color: #e2e2e2;
        cursor: pointer;
    }
}

.pagination__linkWrapper_active {
    border: 1px solid #969696;
}

.pagination__link {
    font-size: 20px;
    color: $textColor;
    text-decoration: none;
}

.pagination__arrow {
    margin-top: 5px;
    width: 1rem;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }

}

@media screen and (max-width:1200px) {

    .catalog__name {
        font-size: 16px;
    }

    .catalog__price {
        font-size: 14px;
        color: #555555;
        margin-top: 5px;
    }

    .catalog__basketLink {
        font-size: 12px;
    }

    .catalog__items {
        row-gap: 2rem;
    }

    .catalog__icon {
        width: 17px;
    }
}

@media screen and (max-width: $tablet) {

    .catalog__item:hover .catalog__basketWrapper {
        display: none;
    }
}

@media screen and (max-width: $mobile) {

    .mobile__hidden {
        display: none;
    }

    .catalog__items {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .catalog__item:hover .catalog__basketWrapper {
        display: none;
    }

    .catalogHeader__nav {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    .catalogHeader__link {
        color: #5a5a5a;
        border: 1px solid #f0dcc7;
        border-width: 1px;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-size: 0.875rem;
        opacity: 1;
        margin-bottom: 8px;
        background-color: #b5c5d3;
    }

    .catalogHeader__link_active {
        background-color: #eedac7;
    }
}