.pageCaption {
    font-size: 14px;
    margin: 16px 0 56px;
}

.pageCaption a {
    text-decoration: none;
    color: #1D1B19;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.pageCaption img {
    width: 12px;
    height: 12px;
    margin-left: 5px;
    margin-right: 5px;
}

.pageCaption span {
    text-decoration: underline;
}