.footer {
    flex: 0 0 auto;
    height: 100%;
    border-top: 1px solid #1D1B19;
}

.footer__inner {
    display: flex;
    flex-direction: row;
    padding-top: 77px;
}

.footer__inner img {
    width: 167px;
    height: 58px;
    margin-left: 44px;
}

.footer__links a {
    text-decoration: none;
    font-family: $generalFont;
    font-size: 18px;
    line-height: 20.7px;
    color: #1D1B19;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.footer__list {
    width: 80%;
    margin-left: 286px;
}

.footer__list ul {
    list-style-type: none;
    height: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer__list ul li {
    padding-bottom: 14px;
}

.footer__text {
    font-family: $headerFont;
    margin-left: 70px;
    font-size: 16.58px;
    line-height: 28.19px;
}

@media screen and (min-width:960px) and (max-width:1400px) {
    .footer__inner img {
        width: 120px;
        padding-top: 10px;
    }

    .footer__list {
        margin-left: 20px;
    }

    .footer__list ul li {
        padding: 5px;
    }

    .footer__inner {
        padding-top: 50px;
    }

    .footer__text {
        margin-top: 20px;
        margin-left: 50px;
    }
}

@media screen and (min-width:640px) and (max-width:$tablet) {
    .footer__inner img {
        width: 120px;
        padding-top: 10px;
    }

    .footer__list {
        margin-left: 30px;
    }

    .footer__links a {
        font-size: 16px;
        line-height: 20px;
    }

    .footer__list ul li {
        padding: 6px;
    }

    .footer__inner {
        padding-top: 50px;
    }

    .footer__text {
        margin-top: 20px;
        margin-left: 50px;
    }
}


@media screen and (min-width:401px) and (max-width:$mobile) {
    .footer__inner {
        padding-top: 20px;
        flex-wrap: wrap;
    }

    .footer__inner img {
        width: 100px;
        margin-left: 20px;
    }

    .footer__list ul {
        flex-wrap: wrap;
        padding: 0px;
    }

    .footer__list {
        width: 100%;
        margin-left: 20px;
    }

    .footer__text {
        margin-left: 20px;
    }
}

@media screen and (max-width:400px) {
    .footer__inner {
        padding-top: 20px;
        flex-wrap: wrap;
    }

    .footer__inner img {
        width: 100px;
        margin-left: 20px;
    }

    .footer__list ul {
        flex-wrap: nowrap;
        padding: 0px;
        height: 100%;
    }

    .footer__list {
        width: 100%;
        margin-left: 20px;
    }

    .footer__text {
        margin-left: 20px;
    }

    .footer__links a {
        font-size: 15px;
        line-height: 16px;
    }

    .footer__text {
        font-size: 12px;
        line-height: 14px;
    }
}