.header__inner {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__links_style {
    font-family: $generalFont;
    text-decoration: none;
    font-size: 16.96px;
    line-height: 19.51px;
    color: #1D1B19;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.header__links .header__links_style:first-child {
    padding-right: 15px;
}

.header__opportunities .header__links_style:first-child {
    padding-right: 30px;
}

.header__opportunities .header__links_style:nth-child(2) {
    padding-right: 5px;
}

.header__links_circle {
    padding: 4px 9px;
    border: 1px solid black;
    border-radius: 50%;
}

@media screen and (min-width:1201px) and (max-width:1519px) {
    .header__links_style {
        font-size: 14px;
        line-height: 18px;
    }
}

@media screen and (min-width:960px) and (max-width:1200px) {
    .header__links_style {
        font-size: 10px;
        line-height: 15px;
    }

    .header__logo img {
        width: 100px;
    }

    .header__links .header__links_style:first-child {
        padding-right: 10px;
    }

    .header__opportunities .header__links_style:first-child {
        padding-right: 20px;
    }
}


@media screen and (min-width:$mobile) and (max-width:$tablet) {
    .header__links_style {
        font-size: 15px;
        line-height: 18px;
    }
}

@media screen and (min-width:550px) and (max-width:638px) {
    .header__links_style {
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (min-width:510px) and (max-width:549px) {
    .header__links_style {
        font-size: 12px;
        line-height: 15px;
    }
}

@media screen and (min-width:466px) and (max-width:509px) {
    .header__links_style {
        font-size: 10px;
        line-height: 13px;
    }
}

@media screen and (min-width:370px) and (max-width:465px) {
    .header__links_style {
        font-size: 8px;
        line-height: 10px;
    }

    .header__logo img {
        width: 90px;
    }
}

@media screen and (min-width:336px) and (max-width:369px) {
    .header__links_style {
        font-size: 7px;
        line-height: 10px;
    }

    .header__logo img {
        width: 80px;
    }
}

@media screen and (max-width:335px) {
    .header__links_style {
        font-size: 6px;
        line-height: 10px;
    }

    .header__logo img {
        width: 40px;
    }

    .header__links .header__links_style:first-child {
        padding-right: 10px;
    }

    .header__opportunities .header__links_style:first-child {
        padding-right: 20px;
    }
}