.header__inner {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__links_style {
    font-family: $generalFont;
    text-decoration: none;
    font-size: 16.96px;
    line-height: 19.51px;
    color: #1D1B19;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.header__links .header__links_style:first-child {
    padding-right: 15px;
}

.header__opportunities .header__links_style:first-child {
    padding-right: 30px;
}

.header__opportunities .header__links_style:nth-child(2) {
    padding-right: 5px;
}

.header__links_circle {
    padding: 4px 9px;
    border: 1px solid black;
    border-radius: 50%;
}

.header__burgerMenu {
    display: none;
}

@media screen and (max-width:$tablet) {
    .header__links {
        display: none;
    }

    .header__opportunities_cart {
        display: none;
    }

    .header__links_circle {
        display: none;
    }

    .header__inner {
        justify-content: flex-start;
    }

    .header__opportunities {
        order: 2;
    }

    .header__logo {
        order: 1;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header__burgerMenu {
        display: block;
        order: 0;
    }

    .header__sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #9DB7CF;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }

    .header__link {
        padding: 20px 20px 40px 20px;
        margin-top: 20px;
        font-size: 24px;
        text-decoration: none;
        color: white;
        display: block;
        transition: 0.3s;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .header__closeBtn {
        text-decoration: none;
        color: white;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 40px;
        margin-left: 50px;
    }

    #header__openBtn {
        font-size: 30px;
    }

    .open {
        width: 250px;
    }
}

@media screen and (max-width:$mobile) {
    .header__logo img {
        width: 100px;
    }

    .header__link {
        font-size: 20px;
        margin-top: 0;
    }

@media screen and (max-width:400px) {
    .open {
        width: 50%;
    }
}

    .header__link {
        display: flex;
        justify-content: center;
    }

    .header__sidenav .header__link:nth-child(2) {
        margin-top: 40px;
    }

    .header__opportunities_search {
        font-size: 14px;
    }
}