.link {
    font-size: 20px;
    color: $textColor;
    text-decoration: none;
    padding: 3px;
    border-bottom: 1px solid $textColor;

    &:hover {
        cursor: pointer;
        border-bottom: none;
    }
}