.product {
    margin-bottom: 100px;
}

.product__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

.product__img {
    width: 100%;
}

.product__nameWrapper {
    font-size: 30px;
}

.product__priceWrapper {
    margin-top: 15px;
    font-size: 22px;
    font-weight: bold;
}

.product__span {
    margin-right: 10px;
    font-size: 18px;
    font-weight: 600;
}

.product__size {
    display: flex;
    align-items: center;
    margin-top: 40px;
    font-size: 18px;
}

.product__oneSize {
    font-size: 16px;
}

.product__buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.product__button {
    display: inline-block;
    box-sizing: border-box;
    font-size: 1.1rem;
    line-height: 1.55;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-align: center;
    padding: 1.1rem 3.4rem 1.1rem 3.4rem;
    border: none;
    background-color: $mainBgColor;

    &:hover {
        cursor: pointer;
        color: $bgColor;
        background-color: $textColor;
        transition: background-color 0.4s ease;
    }
}

.product__descriptionWrapper {
    margin-top: 50px;
}

.product__description {
    margin-top: 10px;
    font-weight: lighter;
    line-height: 1.5;
    font-size: 16px;
}

.product__select {
    font-size: 15px;
    outline: none;

    &:hover {
        cursor: pointer;
    }
}

.product__selectWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 65px;
    border: 1px solid #050502;

    &:hover {
        cursor: pointer;
    }
}

.product__selectWrapper_hidden {
    display: none;
}

.product__selectWrapper select {
    width: 60px;
    height: 28px;
    padding: 0 15px 0 7px;
    background: transparent;
    border: 0;
    appearance: none;
}

.product__selectArrow {
    width: 12px;
    position: absolute;
    right: 9px;
    pointer-events: none;
}

@media screen and (max-width: 1100px) {
    .product__buttons {
        flex-direction: column;
        align-self: flex-start;
    }
}

@media screen and (max-width: $tablet) {
    .product__nameWrapper {
        font-size: 25px;
    }

    .product__priceWrapper {
        font-size: 20px;
    }

    .product__span {
        font-size: 16px;
    }

    .product__description {
        font-size: 15px;
    }
}

@media screen and (max-width: $mobile) {
    .product__inner {
        grid-template-columns: 1fr;
    }

    .product__buttons {
        margin-top: 35px;
    }
}