.followUs {
    margin-top: 222px;
}

.followUs__photoBlock {
    margin: 55px auto 102px auto;
    display: flex;
    justify-content: space-between;
}

.followUs__photo {
    max-width: 423px;
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}