.followUs {
    margin-top: 222px;
}

.followUs__photoBlock {
    margin: 55px auto 102px auto;
    display: flex;
    justify-content: space-between;
}

.followUs__photo {
    max-width: 423px;
    // height: 581px;
    margin-left: 20px;
}