.followUs {
    margin-top: 222px;
}

.followUs__photoBlock {
    margin: 55px auto 102px auto;
    display: flex;
    justify-content: space-between;
}

.followUs__photo {
    max-width: 423px;
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

@media screen and (max-width:1400px) {
    .sectionSubtitle {
        font-size: 33px;
        line-height: inherit;
    }
}


@media screen and (max-width: $tablet) {
    .sectionSubtitle {
        font-size: 30px;
    }

    .subscribe {
        margin-top: 150px;
    }

    .followUs {
        margin-top: 160px;
    }
}


@media screen and (max-width:$mobile) {
    .sectionSubtitle {
        font-size: 25px;
    }

    .subscribe {
        margin-top: 120px;
    }

}

@media screen and (max-width: 320px) {
    .sectionSubtitle {
        font-size: 20px;
    }
}