.mainBanner {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.mainBanner__innerText {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainBanner__innerText img {
    width: 48px;
    height: 48px;
    margin-bottom: 26px;
}

.mainBanner__text {
    font-family: $headerFont;
    font-size: 62.84px;
    line-height: 79.81px;
}

.mainBanner__link {
    font-size: 18px;
    margin-top: 38px;
}

.mainBanner__photo {
    width: 50%;
}

.mainBanner__photo img {
    height: 100%;
}

@media screen and (min-width:1201px) and (max-width:1519px) {
    .mainBanner__innerText img {
        width: 40px;
        height: 40px;
    }

    .mainBanner__text {
        font-size: 40px;
        line-height: 60px;
    }

    .mainBanner__link {
        font-size: 18px;
    }
}

@media screen and (min-width:960px) and (max-width:1200px) {
    .mainBanner__innerText img {
        width: 40px;
        height: 40px;
    }

    .mainBanner__text {
        font-size: 26px;
        line-height: 50px;
    }

    .mainBanner__link {
        font-size: 15px;
    }
}

@media screen and (min-width:901px) and (max-width:$tablet) {
    .mainBanner__innerText img {
        width: 40px;
        height: 40px;
    }

    .mainBanner__text {
        font-size: 50px;
        line-height: 70px;
    }

    .mainBanner__link {
        font-size: 16px;
    }
}

@media screen and (min-width:$mobile) and (max-width:900px) {
    .mainBanner__innerText img {
        width: 40px;
        height: 40px;
    }

    .mainBanner__text {
        font-size: 30px;
        line-height: 60px;
    }

    .mainBanner__link {
        font-size: 16px;
    }
}

@media screen and (min-width:466px) and (max-width:638px) {
    .mainBanner__innerText img {
        width: 30px;
        height: 30px;
    }

    .mainBanner__text {
        font-size: 20px;
        line-height: 50px;
    }

    .mainBanner__link {
        font-size: 14px;
    }
}

@media screen and (min-width:339px) and (max-width:465px) {
    .mainBanner__innerText img {
        width: 20px;
        height: 20px;
    }

    .mainBanner__text {
        font-size: 12px;
        line-height: 40px;
    }

    .mainBanner__link {
        font-size: 10px;
        margin-top: 15px;
    }
}

@media screen and (max-width:338px) {
    .mainBanner__innerText img {
        width: 20px;
        height: 20px;
        margin-bottom: 15px;
    }

    .mainBanner__text {
        font-size: 8px;
        line-height: 30px;
    }

    .mainBanner__link {
        font-size: 6px;
        margin-top: 10px;
    }
}