.cartPageHeader {
    display: flex;
    flex-direction: column;
}

.cartPageHeader p {
    font-family: $headerFont;
    font-size: 50px;
    margin: 0 67px 0 0;
}

.cartPageHeader a {
    font-size: 16px;
    border-bottom: none;
    text-decoration: underline;
}

.pageContentCart {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    margin-top: 47px;
    margin-bottom: 48px;
}

.basketContentHide {
    display: none;
}

.cartSummary {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cartSummary__inner {
    width: 50%;
    align-self: flex-end;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 50px;
}

.cartSummary__gift p {
    font-size: 20px;
    margin-bottom: 10px;
}

.cartSummary__check {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.cartSummary__check span {
    font-size: 17px;
}

// .cartSummary__promo {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
// }

// .cartSummary__promo label {
//     width: 100%;
// }

// .cartSummary__promo label input {
//     width: 100%;
//     border: none;
//     height: 50px;
//     border-bottom: 1px solid rgba(0, 0, 0, 0.1);
//     background: none;
//     font-size: 16px;
//     padding: 8px 4px;
// }

// .cartSummary__promo_btn {
//     border: 0;
//     font-size: 16px;
//     background-color: #F1EAE4;

//     &:hover {
//         cursor: pointer;
//         text-decoration: underline;
//     }
// }

.cartSummary__culc div {
    padding-top: 18px;
    padding-bottom: 18px;
}

.cartSummary__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cartSummary__delivery p {
    text-align: left;
    margin-left: 20px;
}

.cartSummary__total {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    margin-top: 50px;
}

.cartSummary__total p {
    margin-left: 20px;
}

.cartSummary__btn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
    margin-top: 20px;
}

.cartSummary__btn button {
    font-size: 16px;
    font-family: $generalFont;
    width: 60%;
    height: 50px;
    padding: 16px;
    background-color: #1D1B19;
    color: white;
    border: none;

    &:hover {
        cursor: pointer;
        opacity: 0.4;
    }
}

.cartSummary__check>label>input {
    display: none;
}

.newCheckbox {
    display: table;
    position: relative;
    width: 25px;
    height: 25px;
    border: 1px solid #313131;
    margin-right: 36px;

    &:hover {
        cursor: pointer;
    }
}

.newCheckbox::before {
    content: '';
    position: absolute;
    top: 20%;
    left: 20%;
    width: 15px;
    height: 15px;
    background: #313131;
    -webkit-transition: 300ms;
    transition: 300ms;
    opacity: 0;
    visibility: hidden;
}

.newCheckboxBefore::before {
    background-color: #F1EAE4;
}

.cartSummary__check>label>input:checked+.newCheckbox::before {
    opacity: 1;
    visibility: visible;
}

#basketContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.productContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.productImg {
    width: 20%;
}

.productAbout {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 24px;
}

.productName {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.productName p {
    font-size: 20px;
}

.productDelete {
    font-size: 14px;

    &:hover {
        cursor: pointer;
    }
}

.productSize  {
    font-size: 18px;
}

.productSize span {
margin-left: 5px;
}

.productCount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.productCountBt {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 22px;
}

.countBt {
    font-size: 20px;
    border: none;
    padding: 10px
}

.fontResultMul {
    font-size: 20px;
}

.hiddenContent {
    display: none;
}

@media screen and (max-width:600px) {
    .cartSummary {
        width: 100%;
    }

    .cartSummary__inner {
        width: 100%;
        margin-right: 0;
    }
}

@media screen and (max-width:350px) {
    .cartPageHeader p {
        margin: 0 20px 0 0;
    }

    .cartPageHeader a {
        border-bottom: none;
        text-decoration: underline;
    }
}