.orderNav {
    width: 20%;
    display: flex;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: $textColor;

        &:hover {
            text-decoration: underline;
        }
    }

    p {
        text-decoration: underline;
    }
}

.arrowImg {
    width: 12px;
    height: 12px;
}

.checkout__form {
    margin: 60px 0;
    display: flex;
    justify-content: space-between;

    h3 {
        margin: 30px 0;
        font-family: $headerFont;
        font-size: 25px;

        &:first-child {
            margin-top: 0;
        }
    }
}

.checkout__formItem {
    width: 47%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

@mixin fieldStyle {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &:focus {
        outline: none;
        border-bottom: 1px solid $textColor;
    }
}

.checkout__formField {
    @include fieldStyle;
}

.formField__wrapper {
    height: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checkbox__wrapper {
    margin: 2em 0;
}

.checkout__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkout__checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    position: relative;
}

.checkout__checkbox+label::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid $textColor;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.checkout__checkbox:checked+label::after {
    content: '';
    background: $textColor;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 6px;
}

.userInfo {
    border: none;
    padding: 0;
    display: grid;
    grid-template-areas: 'name curname'
        'tel .';
    gap: 10px;
}

.adress {
    margin-top: 2em;

    div {
        margin-bottom: 1em;
    }
}

.radio__wrapper {
    display: inline-block;
    margin-bottom: 1em;
}

.custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-radio+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $textColor;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-radio:checked+label::before {
    border-color: $textColor;
    background-color: $textColor;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.orderSummary {
    display: flex;
    flex-direction: column;
}

.orderEdit {
    width: fit-content;
    align-self: end;
    margin-bottom: 20px;
    text-decoration: none;
    color: $textColor;

    &:hover {
        text-decoration: underline;
    }
}

.product {
    width: 95%;
    margin: auto;
    padding: 1.5em 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:first-child {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
}

.product__preview {
    width: 25%;
}

.discount {
    display: flex;
    justify-content: space-between;
    margin: 4em 0;
}

.discount__code {
    @include fieldStyle;
    width: 85%;
    padding: 8px 0;
    font-size: 16px;
}

.discount__button {
    font-size: 16px;
    width: fit-content;
    background-color: transparent;
    border: none;

    &:hover {
        border-bottom: 1px solid $textColor;
        cursor: pointer;
    }
}

.costs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    p {
        margin: 5px 0;
    }
}

.totalCost {
    font-family: $generalFont;
    font-size: 2em;
    font-weight: 700;
    padding: 8px 0;
}

.submitButton {
    font-size: 16px;
    font-family: $generalFont;
    width: 60%;
    height: 50px;
    padding: 16px;
    margin-top: 30px;
    margin-left: 40%;
    background-color: $textColor;
    color: white;
    border: none;

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}