/* Breakpoints */
$smallMobile: 479px;
$mobile: 639px;
$tablet: 959px;
$desktop: 1199px;

/* Colors */
$bgColor: #F1EAE4;
$textColor: #1D1B19;

/* Fonts */
$headerFont: "Selna";
$generalFont: "Helvetica";