/* Breakpoints */
$smallMobile: 479px;
$mobile: 639px;
$tablet: 959px;
$desktop: 1199px;

/* Colors */
$bgColor: #F1EAE4;
$textColor: #1D1B19;
$mainBgColor: #9DB7CF;
/* Fonts */
$headerFont: "Selna";
$generalFont: "Helvetica",
sans-serif;

// /* Large desktops and laptops */
// @media (min-width: 1200px) {

// }

// /* Landscape tablets and medium desktops */
// @media (min-width: 992px) and (max-width: 1199px) {

// }

// /* Portrait tablets and small desktops */
// @media (min-width: 768px) and (max-width: 991px) {

// }

// /* Landscape phones and portrait tablets */
// @media (max-width: 767px) {

// }

// /* Portrait phones and smaller */
// @media (max-width: 480px) {

// }

// /* Iphone 5 */
// @media (max-width: 320px) {

// }