@import 'fonts';
@import 'vars';
@import "blocks/header";
@import "blocks/footer";
@import "blocks/subscribe";
@import "blocks/link";
@import "pages/main/mainBanner";
@import "pages/main/ourFavorites";
@import "pages/main/followUs";
@import "pages/main/aboutUs";
@import "pages/main/categories";
@import "pages/catalog/catalog";
@import "pages/basket/basket";
@import "pages/product/product";
@import "pages/order/order";

body {
    background-color: $mainBgColor;
    height: 100%;
    font-family: $generalFont;
    color: $textColor;
    margin: 0px;
}

html {
    height: 100%;
}

main {
    flex: 1 0 auto;
}

.container {
    width: 100%;
}

.container__row {
    width: 95%;
    margin: auto;
    min-height: 80px;
}

h1,
h2,
h3 {
    font-family: $headerFont;
}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 62px;
}

h2 {
    font-size: 50px;
}

.containerBg {
    background-color: $bgColor;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 30px;
}

@media screen and (max-width:$tablet) {
    body {
        background-color: $bgColor;
    }

    .containerBg {
        margin: 0;
    }
}